<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title th:text="#{appName}"></title>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="nav-link dropdown-toggle" href="#" id="locales" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{language}">

    </a>
    <div class="dropdown-menu" aria-labelledby="locales">
        <a class="dropdown-item" href="?lang=zh" >简体中文</a>
        <a class="dropdown-item" href="?lang=en" >English</a>
    </div>
</nav>

<div class="container">
    <form action="/getExpressions" method="post">
        <div class="form-group col-6">
            <label for="numberOfExpression" th:text="#{numberOfExpression}"></label>
            <input type="number" class="form-control" id="numberOfExpression" name="numberOfExpression" min="3">
        </div>
        <div class="form-group col-6">
            <label for="range" th:text="#{range}"></label>
            <input type="number" class="form-control" id="range" name="range" min="3">
        </div>
        <div class="form-group col-6">
            <label for="maxNumberOfOperation" th:text="#{maxNumberOfOperation}"></label>
            <input type="number" class="form-control" id="maxNumberOfOperation" name="maxNumberOfOperation" max="3"
                   min="1">
        </div>

        <fieldset class="form-group col-6">
            <legend th:text="#{hasFraction}" ></legend>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="hasFraction" value="true" checked>
                    <span th:text="#{true}"></span>
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="hasFraction" value="false">
                    <span th:text="#{false}"></span>
                </label>
            </div>
        </fieldset>
        <fieldset class="form-group col-6">
            <legend th:text="#{hasParentheses}"></legend>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="hasParentheses" value="true" checked>
                    <span th:text="#{true}"></span>
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="hasParentheses" value="false">
                    <span th:text="#{false}"></span>
                </label>
            </div>
        </fieldset>
        <fieldset class="form-group col-6">
            <legend th:text="#{hasNegative}"></legend>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="hasNegative" value="true" checked>
                    <span th:text="#{true}"></span>
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="hasNegative" value="false">
                    <span th:text="#{false}"></span>
                </label>
            </div>
        </fieldset>
        <fieldset class="form-group col-6">
            <legend th:text="#{hasMultipleAndDivide}"></legend>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="hasMultipleAndDivide" value="true" checked>
                    <span th:text="#{true}"></span>
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="hasMultipleAndDivide" value="false">
                    <span th:text="#{false}"></span>
                </label>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-primary" th:text="#{submit}"></button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>